.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shaird style */
.font_color {
  color: #727D73;
}

.btn_styel {
  background-color: #006A50;
  color: #ffff;
  border: none;
  border-radius: 10px;
  padding: 8px 11px;
}

.btn_styel:hover {
  background-color: darkmagenta;
  color: #ffff;
}

.bg {
  background-color: #006a5051;
}

.bg_1 {
  background-color: brown;
}

.bg_2 {
  background-color: chartreuse;
}

/* nav bar start */
.nav_bar {
  display: flex;
  justify-content: space-between;
}

.sign_in li {
  list-style: none;
  padding: 10px 25px;
  border: 2px solid #006A50;
  border-radius: 10px;
}

.sign_in {
  margin: 24px 129px 24px 0px;
}

.sign_in li a {
  text-decoration: none;
  color: #006A50;

}

.nav_bar h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 31px 0px 31px 160px;
}

.explore_bangladesh_btn:hover {
  background-color: crimson;
  color: #ffff;
}

/* nav bar end */

/* banner section start */
.banner {
  background-color: #006a5061;
  width: 1216px;
  height: 500px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.banner_content {
  margin: 117px 0px 117px 50px;
  width: 550px;
  height: 90;
  text-align: left;
  margin-left: 70px;

}

.banner_header {
  font-size: 24px;
  color: #0f111161;
}

.banner_discription {
  font-size: 50px;
  font-weight: 800;
  margin: -16px 0px 24px 0px;
}

.banner_img {
  background-image: url('../assets/hero.png');
  width: 474px;
  height: 400px;
  margin-left: 70px;
}

.explore_bangladesh_btn {
  padding: 14px 20px;
  background-color: #006A50;
  color: #ffff;
  border: none;
  border-radius: 8px;
}

/* banner section end*/

/* pillars section start*/

.pillars_title {
  margin: 80px 160px 32px 160px;
  padding: 5px;
  font-size: 40px;
  font-weight: bold;
}

.inovashon {
  display: flex;
  margin-left: 160px;
  margin-right: 160px;
  width: 1216px;
  height: 324px;
  gap: 10px;
}

.card-container {
  padding: 25px;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.615);
  border-radius: 10px;
  width: 294px;
  height: 244px;
}

/* pillars section  end*/

/* vision section start */
.vision {
  width: 1216px;
  height: 765px;
  margin-left: 160px;
  margin-right: 160px;
}

.vision_title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.vision_discription {
  font-size: 16px;
}

.vision_card_container {
  display: flex;
  gap: 24px;
}

.card_1 {
  padding: 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.615);
  border-radius: 10px;
  width: 341.33px;
  height: 300px;
  background-color: rgba(86, 51, 214, 0.13);
}

.card_2 {
  padding: 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.615);
  border-radius: 10px;
  width: 341.33px;
  height: 300px;
  background-color: rgba(36, 242, 87, 0.155);
}

.card_3 {
  padding: 25px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.615);
  border-radius: 10px;
  width: 341.33px;
  height: 300px;
  background-color: rgba(216, 46, 46, 0.141);
}

/* vision section end */

/* muhammad yunus section start*/
.muhammad_yunus {
  width: 1216px;
  height: 200px;
  margin: -200px 160px 32px 160px;
  background-color: rgba(216, 188, 147, 0.727);
  border-radius: 10px;
  padding: 10px 0px 0px 24px;
}

.muhammad_yunus_discription {
  background-image: url('../assets/quote-bg.png');
  background-repeat: no-repeat;


}


/* muhammad yunus section end*/

/* recent news section start*/
.recent_news {
  margin: 32px 160px 32px 160px;
}

.recent_news h3 {
  font-size: 40px;
  font-weight: bold;
}

.bangladesh_satellite {
  background-color: rgba(14, 200, 138, 0.127);
  width: 1216px;
  height: 402px;
  display: flex;
  border-radius: 10px;
  align-items: center;

}

.satelite_img {
  border-radius: 20px;
  margin: 48px 48px 48px 48px;
  height: 290px;
}

.bangladesh_discription {
  margin: 56px 38px 56px 48px;
  height: 290px;
}

.bangladesh_discription h3 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}

.al_jazeera {
  margin: 12px 0 12px 0;
}

.bangladesh_discription data {
  margin-right: 20px;
}

.bangladesh_satellite_discription {
  margin-bottom: 52px;
}

.bangladesh_satellite_2 {
  background-color: rgba(14, 200, 138, 0.127);
  width: 1216px;
  height: 402px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin-top: 24px;
}

/* recent news section end*/

/* Donate section start */
.donate_section {
  margin: 82px 160px 20px 160px;
  text-align: center;
}

.donate_section h3 {
  font-size: 40px;
  font-weight: bold;
}

.donate_section h3 p {
  font-size: 16px;
  margin-top: 0;
}

.donate_today {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.donate_amiint {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.534);
  border-radius: 30px;
  font-weight: bold;
  font-size: 40px;
  margin: 25px 0 25px 0;
}

.donate_amiint:hover {
  background-color: rgb(239, 19, 56);
  color: #ffff;
}

.donate_section_input {
  padding: 15px 378px 15px 378px;
  border-radius: 15px;
  border: .5px solid rgba(0, 0, 0, 0.204);
  margin-bottom: 25px;
}

/*--Donate section end--*/

/* Subscribe section start */
.subscribe {
  width: 1216px;
  height: 395px;
  background-color: #006a502d;
  margin: 80px 160px 80px 160px;
  border-radius: 15px;


}

.subscribe_discription {
  width: 770px;
  height: 112px;
  text-align: center;
  padding: 80px 223px 80px 223px;

}

.subscribe h3 {
  font-size: 40px;
  font-weight: bold;
}

.subscribe_discription p {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.subscribe_email {
  padding: 12px 180px 12px 180px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.subscribe_subscribe {
  padding: 12px 30px;
  margin-left: -5px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: #006A50;
  color: #ffff;
}

.subscribe_subscribe:hover {
  background-color: rgb(218, 13, 13);
  color: #ffff;
}

/* Subscribe section end */

/* footer section start */
.footer_section {
  text-align: center;
}

.footer_section h3 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 130px;
}

.footer_img {
  margin-top: 64px;
  margin-bottom: 50px;

}

.footer_img_pad {
  padding: 10px;

}

/* footer section end */